#!/bin/bash
# -----------------------------------------------------------------------------
# docker-minecraft entrypoint
#
# Authors: Corban Raun
# -----------------------------------------------------------------------------

java {{ java_options }}
