#Minecraft server properties
spawn-protection={{ spawn_protection }}
max-tick-time={{ max_tick_time }}
generator-settings={{ generator_settings }}
force-gamemode={{ force_gamemode }}
allow-nether={{ allow_nether }}
gamemode={{ gamemode }}
enable-query={{ enable_query }}
player-idle-timeout={{ player_idle_timeout }}
difficulty={{ difficulty }}
spawn-monsters={{ spawn_monsters }}
op-permission-level={{ op_permission_level }}
resource-pack-hash={{ resource_pack_hash }}
announce-player-achievements={{ announce_player_achievements }}
pvp={{ pvp }}
snooper-enabled={{ snooper_enabled }}
level-type={{ level_type }}
hardcore={{ hardcore }}
enable-command-block={{ enable_command_block }}
max-players={{ max_players }}
network-compression-threshold={{ network_compression_threshold }}
max-world-size={{ max_world_size }}
server-port={{ server_port }}
server-ip={{ server_ip }}
spawn-npcs={{ spawn_npcs }}
allow-flight={{ allow_flight }}
level-name={{ level_name }}
view-distance={{ view_distance }}
resource-pack={{ resource_pack }}
spawn-animals={{ spawn_animals }}
white-list={{ white_list }}
generate-structures={{ generate_structures }}
online-mode={{ online_mode }}
max-build-height={{ max_build_height }}
level-seed={{ level_seed }}
use-native-transport={{ use_native_transport }}
enable-rcon={{ enable_rcon }}
motd={{ motd }}
