[Unit]
Description=Docker Application Container Engine
Documentation=https://docs.docker.com
After=network.target

[Service]
Type=notify
ExecStart=/usr/bin/docker daemon {{ docker_options }}
LimitNOFILE=1048576
LimitNPROC=1048576
